<!DOCTYPE html>
<html lang="en">

<head>
    <title>File Station</title>
</head>
<body>

<input id="upload-file" type="file" />
<input id="upload-file-btn" type="button" value="upload" />
<input id="logout-btn" type="button" value="logout" >

{{range .}}
    <div>
        <a href="/download?filename={{.Name}}">{{.Name}} ({{.Size}})</a>
    </div>
{{end}}

<script>
    document.getElementById("upload-file-btn").addEventListener("click", uploadFile)
    document.getElementById("logout-btn").addEventListener("click", logout)
    const login_url = "/login"
    async function logout() {
        const url = "/logout"
        let response = await fetch(url)
        if (!response.ok) {
            await handleNotOk(response, "Failed to logout: ")
            return
        }
        alert("Logout successfully.")
        window.location = login_url
    }

    async function uploadFile() {
        const url = "/upload"
        const fileInput = document.getElementById("upload-file")
        const formData = new FormData()
        formData.append("uploaded_file", fileInput.files[0], String(fileInput.value.split("\\").pop()))
        let response = await fetch(url, {
            method: "POST",
            body: formData,
        })
        if (!response.ok) {
            await handleNotOk(response, "Failed to upload file: ")
            return
        }
        fileInput.value = null
        alert("Upload successfully!")
    }

    async function handleNotOk(response, message) {
        if (response.status === 401) {
            alert("You have not logged in yet.")
            window.location = login_url
            return
        }
        const body = await response.text()
        alert(message + body)
    }
</script>

</body>
</html>